# Warning: This file is Ansible Managed, manual changes will be overwritten on next playbook run.
#

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
discovery.seed_hosts: ["{{ ansible_facts['default_ipv4']['address'] }}"]
node.name: "{{ es_node_name }}"
cluster.initial_master_nodes: 
   - "{{ es_master_node }}"
